In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [2]:
data =pd.read_csv('Visitor_Prediction_Multiple_Linear_Regression_data.csv')

In [3]:
data.head()

,Date,Views_show,Visitors,Views_platform,Ad_impression,Cricket_match_india,Character_A,Unnamed: 7
0,3/1/2017,183738,1260228,1706478,1060860448,0,0,NaN
1,3/2/2017,193763,1270561,1690727,1031846645,0,0,NaN
2,3/3/2017,210479,1248183,1726157,1010867575,0,0,NaN
3,3/4/2017,240061,1492913,1855353,1079194579,1,0,NaN
4,3/5/2017,446314,1594712,2041418,1357736987,0,0,NaN

In [5]:
data.notnull()

,Date,Views_show,Visitors,Views_platform,Ad_impression,Cricket_match_india,Character_A,Unnamed: 7
0,True,True,True,True,True,True,True,False
1,True,True,True,True,True,True,True,False
2,True,True,True,True,True,True,True,False
3,True,True,True,True,True,True,True,False
4,True,True,True,True,True,True,True,False
...,...,...,...,...,...,...,...,...
75,True,True,True,True,True,True,True,False
76,True,True,True,True,True,True,True,False
77,True,True,True,True,True,True,True,False
78,True,True,True,True,True,True,True,False
79,True,True,True,True,True,True,True,False

In [6]:
df=pd.DataFrame(data)

In [7]:
x=df[['Ad_impression','Views_platform']]

In [8]:
y=df['Visitors']

In [9]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [10]:
regressor=LinearRegression()

In [11]:
regressor.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [12]:
predictions = regressor.predict(x_test)

In [14]:
predictions[5]

1657850.759909429

In [18]:
y_test[5]

KeyError: 5